@tailwind base;
@tailwind components;
@tailwind utilities;

html.light {
  --tw-bg-opacity: 1;
  background-color: rgb(245 243 255 / var(--tw-bg-opacity));
  color: #222;
}
html.dark {
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
  color: #f3f4f6;
}

body {
  transition: background 0.3s, color 0.3s;
}
